<nav class="navbar navbar-expand-lg navbar-dark">
     <a class="navbar-brand" href='/'>
        <img id='mainPicture' src="images/marc.jpg" alt="Marc Laliberté" style="width: 80px;" />
    </a>
        
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <h1 class='text-light'>Marc Laliberté</h1>
        <ul class="navbar-nav btn ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light " href="index.html">CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="projets.html">Realisations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>