body {
	background-color: #ceddf6;
}

h1{
	text-align: center;
}
.wrapper{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

table{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black;
	box-shadow: 3px 5px 3px black;

}

td{
	border: 1px solid black;
	text-align:center;
	padding: 10px;
}
th{
	font-size: 15pt;
}

.totalclass{
	font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #97befa;
}
input{
	background-color: #ceddf6;
	box-shadow: 1px 1px 2px black;
}
