body {
	background-color: #aeb6bf;
	font-family: 'Arial black';
}

header {
	text-align: center;
	background-color: #23303e;
	/* border-radius: 15px; */
	padding: 2px;
	color: white;
}

.wrapper {
	background-color: #fefcf9;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.content {
	display: flex;
}

.homePresent {
	text-align: center;
	/*margin-bottom: 35px;
	padding-left: 170px;*/
}

#homeContact {
	margin-right: auto;
	margin-left: auto;
	background-color: #e7e7e7;
}

.mainPhoto {
	margin-right: auto;
	margin-left: auto;
	width: 160px;
}

#cvTitle {
	font-weight: bold;
	font-size: 20pt;
}

dt {
	font-weight: bold;
	font-size: 20pt;
	margin-top: 15px;
}

#navBar {
	background-color: #23303e;
}

#mainPicture {
	border: 1px solid black;
	border-radius: 50%;
	margin-right: 30px;
}

nav li {
	font-size: 18pt;
}

nav {
	text-align: center;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
}

.liContact {
	margin-bottom: 20px;
}

nav a:active {
	color: #adc2e4;
}

#siteWeb {
	display: none;
}

dl,
.contact {
	margin: 20px 40px;
	padding: 10px 30px;
	background-color: #e7e7e7;
	box-shadow: 0px 2px 2px #23303e
}

dd {
	margin-left: 0;
}

ul {
	padding-left: 0;
}

#rpgPhoto a:hover:after {
	content: url(images/Screenshot1.png);
	display: block;
}

@keyframes fade-in {
    from {opacity: 0;transform: scale(.8,.8)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.2s;
}
.hidden {
	opacity: 0;
  }
@media print {
	body {
		background-color: white;
		font-family: none;
	}
	#siteWeb {
		display: block;
	}
	.wrapper {
		background-color: white;
		width: 95%;
		box-shadow: none;
		padding-right: 10px;
	}
	header {
		display: none;
	}

	.content {
		width: 115%;
		margin-left: -110px;
	}
	.homePresent {
		background-color: white;
	}
	.navbar {
		display: none;
	}
	nav {
		display: none;
		float: none;
	}
	#detailsProjets {
		display: none;
	}
	ul {
		padding-right: -5px;
	}

	dl {
		margin: 0px 0px;
		background-color: white;
		margin-bottom: -10px;
	}
	dt {
		margin-top: 0px;
		font-size: 14pt;
	}
	#pdf {
		display: none;
	}
	hr {
		margin: 0px;
		margin-bottom: -10px;
	}
	.mainPhoto {
		display: none;
	}
}

@media only screen and (max-width: 1150px) {
	img {
		display: none;
	}
	.wrapper {
		width: 97%;
	}
	.content {
		display: block;
	}
	.navBar {
		width: 100%;
		float: none;
	}
	nav {
		width: 700px;
	}
	h1 {
		font-size: 12pt;
	}
	nav li {
		display: inline;
		line-height: 50px;
		height: 50px;
	}
	nav ul {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	nav a {
		height: 50px;
	}
	#homeContact {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		font-size: 15pt;
	}
}

@media only screen and (max-width: 431px) {
	.wrapper {
		width: 97%;
	}
	h1 {
		font-size: 12pt;
	}
	nav li {
		width: 250px;
	}

	nav a {
		width: 250px;
	}
}
